.help-block a {
	color: gray;
	font-size: 14px;

	&:hover {
		color: gray;
	}
}

.footer {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #eee;
}

.page-header {
	background: rgb(239,239,239);
	margin: 0;
	border-bottom: 0;

	h3 {
		font-weight: 300;
	}

	.header-logo {
		text-align: center;

		img {
			width: 80%;
		}
	}
}

.product-title {
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

.product-image {
	max-width: 200px;
	max-height: 200px;
	position: relative;
	top: 0;
	left: 0;
}

.product-thumbnail {
	padding: 0;
	width: 100px;
	text-align: center;

	& > img {
		max-width: 100px;
		height: 50px;
		padding: 0;
	}
}

.site-title {
	text-align: center;
	margin-bottom: 20px;
	padding: 5px 15px 15px 15px;

	small {
		color: white;
		font-style: italic;
	}
}

.toast {
	position: absolute;
	right: 100px;
	bottom: 50px;
	left: 100px;
	width: 500px;
	text-align: center;
	margin: 0 auto;
}

.actie-image {
	max-width: 200px;
	max-height: 200px;
	position: absolute;
	left: 95px;
}

.sidebar {
	height: 70px;
}

.local-dev {
    text-align: center;
    background: -webkit-gradient(
		linear,  left top,  right top,
        color-stop(0%, #ffffff),
        color-stop(7%, #ff0000),
        color-stop(14%, #ffff00),
        color-stop(21%, #00ff00),
        color-stop(28%, #00ffff),
        color-stop(35%, #0000ff),
        color-stop(42%, #ff00ff),

        color-stop(50%, #ffffff),
        color-stop(57%, #ff0000),
        color-stop(64%, #ffff00),
        color-stop(71%, #00ff00),
        color-stop(78%, #00ffff),
        color-stop(85%, #0000ff),
        color-stop(92%, #ff00ff),
        color-stop(100%, #ffffff)
	);
    background-size: 200% 200%;

    animation: rainbow 10s linear 0s infinite;
}
