.product-listing {
  min-height: 120px;
  padding: 10px 0;
  margin: 10px 0;

  &:first-child {
    padding-top: 0;
    margin-top: 0;
  }

  .add-to-cart {
    margin: 5px 0;
    max-width: 320px;
    display: inline-table;
  }

  .product-thumbnail {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }

  .product-name {
    font-size: 18px;
  }

  &:last-child {
    border-bottom: none;
  }
}

.pagination {
  margin: 0 auto;
}