#error-body {
  main {
    #background {
      position: fixed;
      bottom: 20px;
      right: 0;
      left: 0;
      background: url('/img/broken-pipe-system.svg') no-repeat center;
      background-size: cover;
      height: 80vh
    }
  }
}