@-webkit-keyframes navBrandHover {
	from {
		color: white;
		background-color: $navbar-bg;
		font-size: 18px;
	}
	to {
		color: $navbar-bg;
		background-color: white;
		font-size: 22px;
	}
}

@-webkit-keyframes navExpandSearch {
	from {
		width: 0;
		background: transparent;
		padding-left: 0;
		padding-right: 32px;
	}
	to {
		width: 181px;
		background-color: white;
		padding-left: 12px;
		padding-right: 42px;
	}
}

@keyframes navBrandHover {
	from {
		color: white;
		background-color: $navbar-bg;
		font-size: 18px;
	}
	to {
		color: $navbar-bg;
		background-color: white;
		font-size: 22px;
	}
}

@keyframes navExpandSearch {
	from {
		width: 0;
		background: transparent;
		padding-left: 0;
		padding-right: 32px;
	}
	to {
		width: 181px;
		background-color: white;
		padding-left: 12px;
		padding-right: 42px;
	}
}
