#navbar-first {
  background-color: white;

  .navbar-form {
    padding-right: 0;
    position: relative;

    button {
      color: white;
      background: $navbar-default-bg;
      border-color: $navbar-default-bg;

      &:hover {
        background: darken($navbar-default-bg, 15%);
      }

      &.prefix {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: -5px;
      }
      &.suffix {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -5px;
      }
    }

    #suggest-box {
      z-index: 99999;
      position: absolute;
      right: 0;
      width: 600px;
      background-color: white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.5);

      .suggest-item {
        width: 100%;
        padding: 15px 10px;
        border-top: 1px solid #ddd;

        &:hover {
          background-color: #ddd;
          cursor: pointer;
        }

        a {
          text-overflow: ellipsis;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          display: inline-block;
        }
      }
    }
  }
}

@media only screen and (max-width: $screen-xs-max) {
  #navbar-first {
    .navbar-form {
      margin-top: 0;
      margin-bottom: 0;
      padding-right: 15px;

      #suggest-box {
        left: 0;
        margin: 0 15px;
        width: auto;
      }
    }
  }
}

#navbar-second {
  text-transform: uppercase;
  min-height: 0;
  position: relative;
  z-index: 99;

  .navbar-nav {
    margin-left: -15px;

    & > li:not(.active) > a {
      color: white;
      background-color: $navbar-default-bg;
      transition: all 150ms;
      -moz-transition: all 150ms;
      -ms-transition: all 150ms;
      -o-transition: all 150ms;
      -webkit-transition: all 150ms;

      &:hover {
        color: $navbar-default-bg;
        background-color: white;
        transition: all 150ms;
        -moz-transition: all 150ms;
        -ms-transition: all 150ms;
        -o-transition: all 150ms;
        -webkit-transition: all 150ms;
      }
    }

    & > .active > a,
    & > .active > a:hover {
      color: white;
      background-color: darken($navbar-default-bg, 15%);
    }

    .open  {
      .dropdown-menu {
        background-color: $navbar-default-bg;
        color: white;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
      }

      & > a,
      & > a:hover,
      & > a:focus {
        background-color: white;
        color: $navbar-default-bg;
      }
    }

    .dropdown-menu {
      border-color: $navbar-default-bg;
      background-color: $navbar-default-bg;

      & > li > a {
        color: white;
        background-color: $navbar-default-bg;
        line-height: 20px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        height: 100%;
        transition: all 150ms;
        -moz-transition: all 150ms;
        -ms-transition: all 150ms;
        -o-transition: all 150ms;
        -webkit-transition: all 150ms;

        &:hover {
          color: $navbar-default-bg;
          background-color: white;
          transition: all 150ms;
          -moz-transition: all 150ms;
          -ms-transition: all 150ms;
          -o-transition: all 150ms;
          -webkit-transition: all 150ms;
        }
      }
    }
  }
}

.navbar {
  margin: 0;
  border: none;

  a {
    font-weight: 400;
  }

  .navbar-toggle {
    background: white;

    .icon-bar {
      background-color: $navbar-default-bg;
    }

    &:hover {
      background: $navbar-default-bg;

      .icon-bar {
        background-color: white;
      }
    }

    &:focus {
      .icon-bar {
        background-color: white;
      }
    }
  }

  .navbar-header {
    margin-left: 15px;

    .navbar-brand {
      padding: 0;
      height: 50px;

      img {
        max-height: 50px;
      }
    }
  }
}


//.navbar-wtg {
//  position: relative;
//  z-index: 1000;
//  border: none;
//  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
//  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
//  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
//  margin: 0;
//  text-transform: uppercase;
//
//  .register-button {
//    background-color: $brand-success !important;
//  }
//
//  .wtg-nav-container {
//    max-width: 1920px;
//    margin: 0 auto;
//  }
//
//  .navbar-collapse {
//    border-color: #420d0f;
//  }
//
//  .navbar-header {
//    margin-left: 15px;
//
//    .navbar-brand {
//      padding: 0;
//      height: 100px;
//
//      img {
//        max-height: 100px;
//        width: 100%;
//        max-width: 300px;
//      }
//    }
//  }
//
//  //#nav-buttons a {
//  //  padding: 30px 15px;
//  //  line-height: 40px;
//  //}
//
//  .navbar-nav {
//    margin-top: 0;
//    margin-bottom: 0;
//
//    & > li:not(.active) > a {
//      color: white;
//      background-color: $navbar-default-bg;
//      transition: all 150ms;
//      -moz-transition: all 150ms;
//      -ms-transition: all 150ms;
//      -o-transition: all 150ms;
//      -webkit-transition: all 150ms;
//
//      &:hover {
//        color: $navbar-default-bg;
//        background-color: white;
//        transition: all 150ms;
//        -moz-transition: all 150ms;
//        -ms-transition: all 150ms;
//        -o-transition: all 150ms;
//        -webkit-transition: all 150ms;
//      }
//    }
//
//    & > .active > a,
//    & > .active > a:hover {
//      color: white;
//      background-color: #420d0f;
//    }
//
//    .open  {
//      .dropdown-menu {
//        background-color: $navbar-default-bg;
//        color: white;
//        border-radius: 0;
//        -moz-border-radius: 0;
//        -webkit-border-radius: 0;
//      }
//
//      & > a,
//      & > a:hover,
//      & > a:focus {
//        background-color: white;
//        color: $navbar-default-bg;
//      }
//    }
//
//    .dropdown-menu {
//      background-color: $navbar-default-bg;
//
//      & > li > a {
//        color: white;
//        background-color: $navbar-default-bg;
//        line-height: 20px !important;
//        padding-top: 15px !important;
//        padding-bottom: 15px !important;
//        height: 100%;
//        transition: all 150ms;
//        -moz-transition: all 150ms;
//        -ms-transition: all 150ms;
//        -o-transition: all 150ms;
//        -webkit-transition: all 150ms;
//
//        &:hover {
//          color: $navbar-default-bg;
//          background-color: white;
//          transition: all 150ms;
//          -moz-transition: all 150ms;
//          -ms-transition: all 150ms;
//          -o-transition: all 150ms;
//          -webkit-transition: all 150ms;
//        }
//      }
//    }
//  }
//
//  .navbar-toggle {
//    border-color: white;
//    background-color: $navbar-default-bg;
//    margin-top: 25px;
//    margin-right: 25px;
//    padding: 15px;
//
//    .icon-bar {
//      display: block;
//      width: 22px;
//      height: 2px;
//      background-color: white;
//      border-radius: 1px;
//      -moz-border-radius: 1px;
//      -webkit-border-radius: 1px;
//    }
//
//    &:hover {
//      border-color: #420d0f;
//      background-color: white;
//
//      .icon-bar {
//        background-color: #420d0f;
//      }
//    }
//  }
//
//  #nav-utils {
//    margin-right: 0;
//
//    .navbar-nav {
//      float: right;
//    }
//
//    .navbar-form {
//      line-height: 20px;
//      padding-right: 0;
//      float: right;
//      clear: both;
//      margin-top: 7px;
//      margin-bottom: 7px;
//
//      .search-field {
//        border: 1px solid white;
//        border-radius: 3px;
//
//        input {
//          border-radius: 0;
//          -moz-border-radius: 0;
//          -webkit-border-radius: 0;
//          border: 0;
//          height: 35px;
//          box-shadow: none;
//          -moz-box-shadow: none;
//          -webkit-box-shadow: none;
//          color: white;
//          width: 180px;
//          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAtJREFUCB1j+A8EAAn7A/0Mu1vnAAAAAElFTkSuQmCC") center bottom no-repeat;
//          background-size: 100% 0;
//          -moz-background-size: 100% 0;
//          -webkit-background-size: 100% 0;
//          padding-left: 12px;
//          padding-right: 12px;
//
//          transition: all 150ms;
//          -moz-transition: all 150ms;
//          -ms-transition: all 150ms;
//          -o-transition: all 150ms;
//          -webkit-transition: all 150ms;
//
//          &:focus {
//            outline: none;
//            box-shadow: none;
//            -moz-box-shadow: none;
//            -webkit-box-shadow: none;
//            color: #420d0f;
//            background-size: 100% 100%;
//            -moz-background-size: 100% 100%;
//            -webkit-background-size: 100% 100%;
//
//            transition: all 150ms;
//            -moz-transition: all 150ms;
//            -ms-transition: all 150ms;
//            -o-transition: all 150ms;
//            -webkit-transition: all 150ms;
//
//            &+.btn-link {
//              color: $navbar-default-bg;
//              background-size: 100% 100%;
//              -moz-background-size: 100% 100%;
//              -webkit-background-size: 100% 100%;
//
//              transition: all 150ms;
//              -moz-transition: all 150ms;
//              -ms-transition: all 150ms;
//              -o-transition: all 150ms;
//              -webkit-transition: all 150ms;
//            }
//          }
//
//          &+.btn-link {
//            border: 0;
//            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAtJREFUCB1j+A8EAAn7A/0Mu1vnAAAAAElFTkSuQmCC") center bottom no-repeat;
//            background-size: 100% 0;
//            -moz-background-size: 100% 0;
//            -webkit-background-size: 100% 0;
//            color: white;
//            //border-bottom: 1px solid white;
//            padding-bottom: 29px;
//            padding-left: 20px;
//            margin-left: -5px;
//
//            transition: all 150ms;
//            -moz-transition: all 150ms;
//            -ms-transition: all 150ms;
//            -o-transition: all 150ms;
//            -webkit-transition: all 150ms;
//          }
//        }
//
//      }
//    }
//  }
//}
//
//@media only screen and (max-width: 439px) {
//  .navbar-wtg {
//    .navbar-header {
//      .navbar-brand {
//        padding: 12px 0;
//        width: 200px;
//        margin-left: -25px;
//      }
//    }
//  }
//}
//
//@media only screen and (min-width:768px) and (max-width:870px) {
//  .navbar-wtg li a {
//    font-size:14px;
//    padding-left:12px !important;
//    padding-right:12px !important;
//  }
//}
//
//@media only screen and (max-width:767px) {
//  .navbar-wtg li a {
//    padding-top:15px !important;
//    padding-bottom:15px !important;
//    line-height:20px !important;
//    height:inherit;
//  }
//
//  .navbar-wtg #nav-utils {
//    margin-right:inherit;
//  }
//  .navbar-wtg #nav-utils .navbar-nav{
//    float:inherit;
//  }
//}
