#notification-wrapper {
  @include media-breakpoint-up(md) {
    left: 20px;
    bottom: 20px;
  }

  @include media-breakpoint-down(sm) {
    right: 0;
  }

  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 0;
  left: 0;

  .notification {
    @include media-breakpoint-up(md) {
      width: 400px;
    }

    width: 100vw;
    display: inline-block;
    margin-top: 10px;
    padding: 20px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 4px;

    &:before {
      font-family: "FontAwesome", sans-serif;
      margin: 0 10px 0 0;
    }

    &.success {
      background: theme-color("success");
      color: white;

      &:before {
        content: "\f058";
      }
    }

    &.danger {
      background: theme-color("danger");
      color: white;

      &:before {
        content: "\f057";
      }
    }

    &.warning {
      background: theme-color("warning");
      color: white;

      &:before {
        content: "\f06a";
      }
    }
  }
}