@import "../helpers/variables";

.panel {
	background-color: transparent;
}

.wtg-panel-danger {
	border-color: $danger-color;

	.panel-heading {
		background-color: $danger-color;
		color: white;
	}
}

.wtg-panel-success {
	border-color: $success-color;

	.panel-heading {
		background-color: $success-color;
		color: white;
	}
}
