@import '../helpers/variables';

.search-filter {
  height: 250px;
  overflow-y: scroll;
  border-top: 1px solid #ddd;

  .list-group-item {
    padding: 5px 10px;

    &.active {
      background-color: #82B1FF;
      color: white;
    }

    &:first-child,
    &:last-child {
      border-radius: 0;
    }
  }
}

#results-wrapper {
  border-left: 1px solid #ddd;

  .pagination {
    margin: 0;
  }
}

#search-wrapper {
  position: relative;
}

#filter-overlay {
  background-color: white;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;

  i {
    margin-top: 50px;
  }
}