@import "../variables";

#footer-wrapper {
  border-top: 1px solid $footer-border-color;
  background: $footer-bg;
  padding: $footer-padding;
  color: $footer-color;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}