// Solarized
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Body
$body-bg: white;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: $blue;
$brand-info: $cyan;
$brand-success: $green;
$brand-warning: $yellow;
$brand-danger: $red;

// Typography
$font-family-sans-serif: "Oxygen", sans-serif;
//$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $base02;
$headings-color: $base03;

// Navs
$nav-link-hover-bg: $blue;

// Navbar
$navbar-height: 70px;
$navbar-inverse-bg: transparentize($base03, 0.3);
$navbar-inverse-link-color: lighten($navbar-inverse-bg, 80%);
$navbar-margin-bottom: 0;

// Buttons
$btn-default-color: $text-color;

// Pills
$nav-pills-border-radius: 0;
$nav-pills-active-link-hover-bg: $violet;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: $base3;

// Header
$header-bg:
  linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ),
  url('http://orig01.deviantart.net/f4c8/f/2011/038/e/3/sheer_beauty___wallpaper_by_sifu-d3903y5.jpg');
$header-height: 60vh;
$header-min-height: 350px;
$header-max-height: 700px;
$header-margin-bottom: 50px;
$header-padding: $navbar-height 0 0 0;

// Admin colors
$admin-header-bg: white;
$admin-page-bg: #efefef;

// Footer
$footer-bg: $base03;
$footer-color: $base3;
$footer-social-color: $yellow;
$footer-social-hover-color: darken($footer-social-color, 10%);
$footer-social-padding: 50px;
$footer-social-item-margin: 0 10px;
$footer-padding: 20px 0 100px;
$footer-border-color: $base3;

// Jumbotron
$jumbotron-bg: transparent;
$jumbotron-color: $base3;
$jumbotron-heading-color: $jumbotron-color;

// Content
$content-bg: white;
$content-padding: 30px 0;

// Links
$link-list-font-size: 18px;
$link-list-color: $base1;
$link-list-before-color: $base01;