//$brand-primary:   #3097D1;
//$brand-info:      #8eb4cb;
//$brand-success:   #4CAF50;
//$brand-warning:   #FFC107;
//$brand-danger:    #F44336;

$separator-height: 200px;

$footer-default-bg: #125175;

$navbar-brand-padding-y: 0;
$navbar-dark-color: white;
$navbar-dark-hover-color: white;
$navbar-dark-active-color: white;

$carousel-control-color: #10F03D;
//$carousel-caption-color: #333;
$carousel-caption-width: 40%;
$carousel-indicator-active-bg: $carousel-control-color;

$font-family-sans-serif: "Muli", sans-serif;
//$line-height-base: 1.6;

//$navbar-font-size: 20px;
//$navbar-font-weight: 600;
//$navbar-default-bg: transparent;
//$navbar-default-link-color: white;
//$navbar-default-link-active-color: green;
