@import "https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,500,600";
@import "https://fonts.googleapis.com/css?family=Muli:300,400";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

// Helpers
@import "helpers/variables";

// Components
@import "components/blocks";
@import "components/button";
@import "components/carousel";
@import "components/keyframes";
@import "components/navbar";
@import "components/panel";
@import "components/alert";
@import "components/product";
@import "components/search";

html ,
body {
  min-height: 100%;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: "Titillium Web", sans-serif;
  overflow-x: hidden;

  & > .container {
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    background-color: rgb(255,255,255);
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
  }

  & > .background {
    background: url("/img/site-bg.jpg") no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}

html:not([data-useragent*="MSIE"]) .ie-only {
  display: none;
}

html[data-useragent~="MSIE"] .ie-only {
  display: block !important;
}

b {
  font-weight: 600;
}

.row {
  padding: 0;
}

//img {
//  max-width: 100%;
//  max-height: 400px;
//  vertical-align: middle;
//  margin: 0 auto;
//  padding: 5px;
//}

.no-padding {
  padding: 0;
}

.hidden {
  display: none;
}

.modal {
  overflow-y: hidden;
}

.slick-prev:before ,
.slick-next:before {
  color: #bbb;
}

.well,
.table-striped > tbody > tr:nth-child(odd) {
  background-color: rgb(245,245,245) !important;
}
