@import "../variables";

#content-wrapper {
  .row {
    padding: 15px 0;

    &:not(:first-child) {
      margin-bottom: -20px;
      margin-top: -40px;
    }
  }

  #before-content {
    font-weight: 300;
    font-size: 15px;
    color: $violet;

    .row > div {
      padding: 15px;
    }

    .header-stat {
      width: 100%;

      .icon {
        font-size: 30px;
        text-align: center;
        padding: 0 5px;
      }
      .title {
        font-size: 15px;
      }
      .value {
        font-size: 30px;
      }
    }
  }

  #content {
    padding-top: 15px;

    .row:first-child {
      padding-top: 0;
    }

    .btn-file {
      position: relative;
      overflow: hidden;

      input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
      }
    }
    input[readonly] {
      background-color: white !important;
      cursor: default !important;
    }
  }
}