#notification-wrapper {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 500px;
  z-index: 999;

  .notification {
    min-width: 300px;
    max-width: 500px;
    display: inline-block;
    margin-top: 10px;
    padding: 20px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 4px;

    &:before {
      font-family: "FontAwesome", sans-serif;
      margin: 0 10px 0 0;
    }

    &.success {
      background-color: $brand-success;
      color: white;

      &:before {
        content: "\f058";
      }
    }

    &.danger {
      background-color: $brand-danger;
      color: white;

      &:before {
        content: "\f057";
      }
    }

    &.warning {
      background-color: $brand-warning;
      color: white;

      &:before {
        content: "\f06a";
      }
    }
  }
}