#page-wrapper {
  background-color: $admin-page-bg;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 300px;
  top: 0;
  overflow: auto;

  #page {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
  }

  .breadcrumb {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 550px) and (max-width: 799px) {
  #page-wrapper {
    left: 235px;
    min-width: 315px;
  }
}

@media only screen and (max-width: 549px) {
  #page-wrapper {
    left: 0;

    &.show-nav {
      left: 235px;
      width: 315px;
    }
  }
}