//.carousel {
//  border-radius: 5px;
//  overflow: hidden;
//  margin-bottom: 20px;
//  height: 440px;
//
//  .carousel-indicators {
//    bottom: 0;
//  }
//
//  .carousel-inner {
//    .item {
//      height: 440px;
//
//      .carousel-caption {
//        padding-top: 0;
//        background-color: rgba(0, 0, 0, 0.5);
//        position: absolute;
//        bottom: 0;
//        right: 0;
//        left: 0;
//        text-align: center;
//        border-radius: 5px;
//      }
//
//      img {
//        padding: 10px;
//        margin: 0 auto;
//        border-radius: 5px;
//      }
//    }
//  }
//}

#header-slider {
  .slick-arrow:before {
    color: #333;
  }

  .item {
    & > div {
      height: 100%;
    }

    .caption {
      margin: 0 auto;
      color: white;
      text-align: right;
      background: rgba(0,0,0,0.7);

      h3 {
        padding: 10px;
        background: rgba(0,0,0,0.3);
      }

      p {
        padding: 10px;
      }
    }

    .carousel-image {
      max-height: 300px;
      margin: 0 auto;
    }
  }
}