#cart-item-container {
  position: relative;

  #cart-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.4);
    z-index: 100;
    display: none;
    text-align: center;
    line-height: 50vh;
  }

  .cart-header {
    font-weight: bold;
    font-size: 2rem;
    padding: 10px 0;
  }

  .cart-item-price,
  .cart-item-subtotal,
  .cart-grand-total {
    white-space: nowrap;

    &::before {
      content: '€ ';
    }
  }

  .cart-grand-total {
    line-height: 3em;
  }

  .cart-item {
    font-size: 15px;
    line-height: 2.6;
    border: 1px solid #efefef;
    border-left: none;
    border-right: none;
    padding: 8px 0;

    .cart-item-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      a {
        font-weight: bold;
        color: #333;
      }
    }

    .cart-item-delete {
      .fa {
        font-size: 2rem;
        color: #bf5329;
      }
    }
  }

  .cart-footer {
    padding: 10px 0;
    font-size: 2rem;

    .cart-grand-total-text {
      .small {
        font-style: italic;
        color: #999;
      }
    }
  }

  .cart-footer-buttons,
  .cart-footer-destroy-button {
    margin-top: 20px;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .cart-item-price,
  .cart-item-subtotal,
  .cart-grand-total {
    font-size: .9em;
  }

  .cart-item-qty input {
    padding: 6px 4px;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .cart-footer-buttons {
    .btn {
      margin-bottom: 10px;
      display: block;
    }
  }
}