.panel {
  background-color: transparent;
}

.wtg-panel-danger {
  border-color: $brand-danger;

  .panel-heading {
    background-color: $brand-danger;
    color: white;
  }
}

.wtg-panel-success {
  border-color: $brand-success;

  .panel-heading {
    background-color: $brand-success;
    color: white;
  }
}
