/**
 * LESS Variables
 **/

@light-red: #FF1919;
@dark-red: #420D0F;
@logo-red: #C2272D;
@transTime: 150ms;


/**
 * CSS Animation definitions
 **/

// Hover over the navigation brand
@-webkit-keyframes navBrandHover {
        from {
                color: white;
                background-color: @logo-red;
                font-size: 18px;
        }
        to {
                color: @logo-red;
                background-color: white;
                font-size: 22px;
        }
}
// Expand the searchbar
@-webkit-keyframes navExpandSearch {
        from {
                width: 0;
                background: transparent;
                padding-left: 0;
                padding-right: 32px;
        }
        to {
                width: 181px;
                background-color: white;
                padding-left: 12px;
                padding-right: 42px;
        }
}

// Standard syntax
// Hover over the navigation brand
@keyframes navBrandHover {
        from {
                color: white;
                background-color: @logo-red;
                font-size: 18px;
        }
        to {
                color: @logo-red;
                background-color: white;
                font-size: 22px;
        }
}
// Expand the searchbar
@keyframes navExpandSearch {
        from {
                width: 0;
                background: transparent;
                padding-left: 0;
                padding-right: 32px;
        }
        to {
                width: 181px;
                background-color: white;
                padding-left: 12px;
                padding-right: 42px;
        }
}


/**
 * Default LESS Code
 **/

html, body {
        height: 100%;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 300;
        font-family: "Titillium Web",sans-serif;
        overflow-x: hidden;
        background-image: url("../img/star-bg.png");

        & > .container {
                padding-bottom: 20px;
                margin-bottom: 20px;
                padding-top: 20px;
                background-color: white;
                border-radius: 0 0 10px 10px;
        }
}

b {
        font-weight: 600;
}

.row {
        padding: 0;
}

img {
        max-width: 100%;
        max-height: 400px;
        vertical-align: middle;
        margin: 0 auto;
        padding: 5px;
}

.footer {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #EEEEEE;
}

.no-padding {
        padding: 0;
}

.hidden {
        display: none;
}

.navbar-wtg {
        background-color: @logo-red;
        border: none;
        box-shadow: 0 1px 0 rgba(255,255,255,.1);
        height: 100px;
        margin: 0;
        text-transform: uppercase;

        .wtg-nav-container {
                max-width: 1920px;
        }

        .navbar-collapse {
                border-color: @dark-red;
        }

        .navbar-header {
                margin-left: 15px;

                .navbar-brand {
                        padding: 0;
                        height: 100px;
                        width: 60%;

                        img {
                                max-height: 100px;
                                width: 100%;
                                max-width: 300px;
                                float: left;
                        }
                }
        }

        #nav-buttons {
                a {
                        padding: 30px 15px;
                        line-height: 40px;
                }
        }

        .navbar-nav {
                margin-top: 0;
                margin-bottom: 0;

                & > li:not(.active) > a {
                        color: white;
                        background-color: @logo-red;
                        transition: all @transTime;

                        &:hover {
                            color: @logo-red;
                            background-color: white;
                            transition: all @transTime;
                        }
                }

                & > .active > a,
                & > .active > a:hover {
                        color: white;
                        background-color: @dark-red;
                }

                .open {
                        .dropdown-menu {
                                background-color: @logo-red;
                                color: white;
                                border-radius: 0;
                        }

                        & > a,
                        & > a:hover,
                        & > a:focus {
                                background-color: white;
                                color: @logo-red;
                        }
                }

                .dropdown-menu {
                        background-color: @logo-red;

                        & > li > a {
                                color: white;
                                background-color: @logo-red;
                                line-height: 20px !important;
                                padding-top: 15px !important;
                                padding-bottom: 15px !important;
                                height: 100%;

                                transition: all @transTime;
                                -o-transition: all @transTime;
                                -moz-transition: all @transTime;
                                -webkit-transition: all @transTime;

                                &:hover {
                                        color: @logo-red;
                                        background-color: white;
                                        transition: all @transTime;
                                        -o-transition: all @transTime;
                                        -moz-transition: all @transTime;
                                        -webkit-transition: all @transTime;
                                }
                        }
                }
        }

        .navbar-toggle {
                border-color: white;
                background-color: @logo-red;
                margin-top: 25px;
                margin-right: 25px;
                padding: 15px;

                &:hover {
                        border-color: @dark-red;
                        background-color: white;

                        .icon-bar {
                                background-color: @dark-red;
                        }
                }

                .icon-bar {
                        display: block;
                        width: 22px;
                        height: 2px;
                        background-color: white;
                        border-radius: 1px;
                }
        }

        #nav-utils {
                margin-right: 15px;

                .navbar-nav {
                        float: right;
                }

                .navbar-form {
                        line-height: 20px;
                        padding-right: 0;
                        float: right;

                        .search-field {
                                input {
                                        border-radius: 0;
                                        border: 1px solid white;
                                        box-shadow: none;
                                        color: white;
                                        width: 180;
                                        background: transparent;
                                        padding-left: 12px;
                                        padding-right: 42px;
                                        transition: all @transTime;
                                        -o-transition: all @transTime;
                                        -moz-transition: all @transTime;
                                        -webkit-transition: all @transTime;

                                        &:focus {
                                                background-color: white;
                                                outline: none;
                                                box-shadow: none;
                                                color: @dark-red;
                                                transition: all @transTime;
                                                -o-transition: all @transTime;
                                                -moz-transition: all @transTime;
                                                -webkit-transition: all @transTime;
                                        }
                                }

                                input + .form-control-feedback {
                                        color: white;
                                }

                                input:focus + .form-control-feedback {
                                        color: @dark-red;
                                }
                        }
                }
        }
}

@media only screen and (min-width: 768px) and (max-width: 870px) {
        .navbar-wtg li a {
                font-size: 14px;
                padding-left: 12px !important;
                padding-right: 12px !important;
        }
}

@media only screen and (max-width: 767px) {
        .navbar-wtg  {
                li a{
                        padding-top: 15px !important;
                        padding-bottom: 15px !important;
                        line-height: 20px !important;
                        height: inherit;
                }

                #nav-utils {
                        margin-right: inherit;

                        .navbar-nav {
                                float: inherit;
                        }
                }
        }
}

.page-header {
        background: #efefef;
        margin: 0;
}

.modal {
        overflow-y: hidden;
}

.btn-default .badge {
        color: white;
        background-color: #999;
}

.product-title {
        font-weight: bold;
        text-align: center;
        font-family: sans-serif;
        padding: 10px;
}

.product-image {
        max-width: 200px;
        max-height: 200px;
        position: relative;
        top: 0;
        left: 0;
}

.product-thumbnail {
        padding: 0;
        width: 100px;
        text-align: center;

        & > img {
                max-width: 100px;
                height: 50px;
                padding: 0;
        }
}

.site-title {
        text-align: center;
        margin-bottom: 20px;
        padding: 5px 15px 15px 15px;

        small {
                color: white;
                font-style: italic;
        }
}

.toast {
        position: absolute;
        right: 100px;
        bottom: 50px;
        left: 100px;
        width: 500px;
        text-align: center;
        margin: 0 auto;
}

.btn-wtg {
        border-color: #CCC;
        color: white;
        background-color: @logo-red;

        &:hover,
        &:focus {
                border-color: @dark-red;
                background-color: white;
                color: @dark-red;
        }
}

.disclaimer {
        font-size: 13px;
        margin: 10px 0;
}

.actie-image {
        max-width: 200px;
        max-height: 200px;
        position: absolute;
        left: 95px;
}

.sidebar {
        height: 70px;
}

.slick-prev:before,
.slick-next:before {
        color: #BBB;
}

.carousel {
        margin-bottom: 20px;

        .carousel-indicators {
                top: -15px;

                li {
                        border: 1px solid black !important;
                }

                .active {
                        background-color: black !important;
                }
        }

        .carousel-inner .item {
                img {
                      height: 300px;
                }

                .carousel-caption {
                        background-color: rgba(0, 0, 0, 0.5);
                        position: relative;
                        text-align: center;
                        padding: 3px;
                        bottom: 0;
                        left: 0;
                        right: 0;
                }
        }

}