#packs {
  .title {
    font-weight: 600;
  }

  .actiepaket,
  .add-actiepaket {
    border: 1px solid steelblue;
    border-radius: 5px;
  }

  .add-actiepaket {
    height: 383px;
    position: relative;
  }

  .actiepaket > .title {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid steelblue;
  }

  .add-actiepaket > .title {
    text-align: center;
    line-height: 25;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }

  .product-list {
    height: 225px;
    overflow-y: scroll;
  }

  .actiepaket-actions {
    padding: 20px 10px;
  }
}